<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem id="master_data_root"
        name="Master Data"
        web_icon="snk_master,static/description/icon.png"
        sequence="0"/>

    <menuitem id="menu_master_data_product"
        name="Products"
        parent="master_data_root"
        sequence="0"/>

    <menuitem id="menu_master_data_suplier"
        name="Suplier"
        parent="master_data_root"
        sequence="0"/>
</odoo>
