<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_os_purchase_root"
        name="Sneaker Purchase"
        web_icon="os_purchase,static/description/icon.png"
        sequence="0" />

    <menuitem id="menu_os_purchase_order_master"
        name="Sneaker Purchase Order"
        parent="menu_os_purchase_root"
        sequence="0"/>
</odoo>