<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem id="menu_sales_order_root"
        name="Simple Sales Order"
        web_icon="snk_salesorder,static/description/icon.png"
        sequence="0"/>

    <menuitem id="menu_sales_order_master"
        name="Orders"
        parent="menu_sales_order_root"
        sequence="0"/>
</odoo>
